<footer class="text-white bg-dark">
    <br />
    <hr />
    <div class="m-0 p-2 text-center">
        <a href="/inquiry" class="text-white col-auto">お問い合わせ</a>
        <a href="#" class="text-white col-auto">広告掲載依頼</a>
        <a href="/kiyaku" class="text-white col-auto">利用規約</a>
        <br />
        <br />
        <a href="/pr" class="text-white col-auto">プライバシーポリシー</a>
    </div>
    <hr />
    <div class="pb-2 text-center">
        <small> Copyright © 2021 Askisst All Rights Reserved. </small>
    </div>
</footer>
</body>

</html>