<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=1214, user-scalable=yes">
    <link rel="stylesheet" href="css/slick.css" type="text/css">
    <link rel="stylesheet" href="css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="css/template.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script>
        // slick スライドショー
        $(function () {
            $('.slide_img').slick({
                arrows: false,
                autoplay: true,
                infinite: true,
                dots: true,
                slidesToShow: 3,
                centerMode: true,
                centerPadding: '0px',
                variableWidth: true,
                responsive: true,
                autoplaySpeed: 4000,
                speed: 400,
                adaptiveHeight: true,
                pauseOnHover: false,
                pauseOnFocus: false,
            });
        });
    </script>

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <img src="img/13.png" alt="" class="rounded-circle" style="width: 50px; height: 50px;" />
        <a href="/" class="mr-auto navbar-brand nav-link">
            <img src="img/Askisst.png" alt="" />
        </a>
        <div class="pull-right">
            <a href="/ask" class="navbar-brand nav-link"> 掲載を希望される方 </a>
            <a href="/signup" class="navbar-brand nav-link"> signup </a>
            <a href="/signin" class="navbar-brand nav-link"> signin </a>
        </div>
    </header>