<%- include('./_header') %>
    <!-- コンテンツ -->
    <!--ページタイトル-->
    <div class="kyatti text-center">
        <h1>依頼詳細</h1>
        <h2>〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</h2>
    </div>

    <!-- 仕事 -->
    <main class="">
        <div class="m-3 p-3 bg-light shadow-sm rounded">
            <p>
                仕事内容
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
        </div>

        <!--ボタンのグループ化-->
        <div class="btn-group-lg text-center">
            <input type="submit" class="p-2 btn btn-primary" name="submit" value="応募する" />
            <input type="submit" class="p-2 btn btn-primary" name="submit" value="キャンセル" />
        </div>
    </main>
    <!-- 広告-->
    <aside class="">
        <div class="m-3 p-3 bg-light shadow-sm rounded">
            <p>広告</p>
        </div>
    </aside>

    <!--フッター-->
    <%- include('./_footer') %>